<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.dao.DatipingyueMapper">
    <resultMap id="BaseResultMap" type="com.spring.entity.Datipingyue">
        <id column="id" property="id" jdbcType="INTEGER"/>
                            <result column="bianhao" property="bianhao" jdbcType="VARCHAR"/>
                                    <result column="timu" property="timu" jdbcType="VARCHAR"/>
                                    <result column="faburen" property="faburen" jdbcType="VARCHAR"/>
                                    <result column="huidaren" property="huidaren" jdbcType="VARCHAR"/>
                                    <result column="dafen" property="dafen" jdbcType="DECIMAL"/>
                                    <result column="beizhu" property="beizhu" jdbcType="VARCHAR"/>
                                                    <result column="datiid" property="datiid" jdbcType="INTEGER"/>
                <result column="addtime" property="addtime" jdbcType="VARCHAR"/>
            </resultMap>
    <sql id="Base_Column_List">
        id, bianhao, timu, faburen, huidaren, dafen, beizhu, datiid, addtime    </sql>
    </mapper>
