<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.dao.HuidawentiMapper">
    <resultMap id="BaseResultMap" type="com.spring.entity.Huidawenti">
        <id column="id" property="id" jdbcType="INTEGER"/>
                            <result column="bianhao" property="bianhao" jdbcType="VARCHAR"/>
                                    <result column="biaoti" property="biaoti" jdbcType="VARCHAR"/>
                                    <result column="tupian" property="tupian" jdbcType="VARCHAR"/>
                                    <result column="faburen" property="faburen" jdbcType="VARCHAR"/>
                                    <result column="qiangdaren" property="qiangdaren" jdbcType="VARCHAR"/>
                                    <result column="huidafujian" property="huidafujian" jdbcType="VARCHAR"/>
                                    <result column="fenshu" property="fenshu" jdbcType="DECIMAL"/>
                                    <result column="beizhu" property="beizhu" jdbcType="VARCHAR"/>
                                                    <result column="qiangdawentiid" property="qiangdawentiid" jdbcType="INTEGER"/>
                <result column="addtime" property="addtime" jdbcType="VARCHAR"/>
            </resultMap>
    <sql id="Base_Column_List">
        id, bianhao, biaoti, tupian, faburen, qiangdaren, huidafujian, fenshu, beizhu, qiangdawentiid, addtime    </sql>
    </mapper>
