<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.dao.WentiqiangdaMapper">
    <resultMap id="BaseResultMap" type="com.spring.entity.Wentiqiangda">
        <id column="id" property="id" jdbcType="INTEGER"/>
                            <result column="bianhao" property="bianhao" jdbcType="VARCHAR"/>
                                    <result column="biaoti" property="biaoti" jdbcType="VARCHAR"/>
                                    <result column="tupian" property="tupian" jdbcType="VARCHAR"/>
                                    <result column="qiangdarenshu" property="qiangdarenshu" jdbcType="INTEGER"/>
                                    <result column="yiqiangrenshu" property="yiqiangrenshu" jdbcType="INTEGER"/>
                                    <result column="fujian" property="fujian" jdbcType="VARCHAR"/>
                                    <result column="xiangqing" property="xiangqing" jdbcType="VARCHAR"/>
                                    <result column="faburen" property="faburen" jdbcType="VARCHAR"/>
                                                <result column="addtime" property="addtime" jdbcType="VARCHAR"/>
            </resultMap>
    <sql id="Base_Column_List">
        id, bianhao, biaoti, tupian, qiangdarenshu, yiqiangrenshu, fujian, xiangqing, faburen, addtime    </sql>
    </mapper>
